.character-img-container {
  width: 70%;
  align-self: center;

  .character-img {
    width: 100%;
    aspect-ratio: 8 / 11;
    border-radius: 5px;
  }
}

.character-feature-block {
  @include flex(space-between, center);
  flex-wrap: wrap;
  width: 100%;
  font-size: 1.6rem;
  color: var(--color-gray-middle);
}

.details {
  @include flex(flex-start, flex-start, column, 10px);
  @include font(2rem, 700, 1, 0.05rem);

  @include laptop {
    min-width: 250px;
  }

  @include big-mobile {
    position: absolute;
    right: 0;
  }
  width: 30%;
  min-width: 350px;
  margin-top: 10px;
  padding: 40px 15px 10px;
  background: #4f4f4f60;
  overflow: scroll;
  border-radius: 5px;
  border: 1px solid var(--color-gray-dark);
  color: var(--color-white-default);
  backdrop-filter: blur(10px);
}

.close-button {
  position: absolute;
  top: 10px;
  left: 10px;
}

.close-icon {
  display: block;
  width: 35px;
  height: 35px;
  background: no-repeat center url('../../assets/close.svg');
  background-size: contain;
}

.page-loader {
  align-self: flex-start;
}

.add-to-favorite-button {
  @extend %transition;

  @include hover {
    background-color: var(--color-primary-bright);
  }

  @include flex(center, center);
  width: 35px;
  height: 35px;
  padding: 0;
  border: 1px solid var(--color-gray-dark);
  background-color: var(--color-input-bg);
  border-radius: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
}

@keyframes fly-up {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-100px);
    opacity: 0;
  }
}

.heart-animation {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  animation: fly-up 0.5s ease-out forwards;
}

.heart {
  path {
    fill: var(--color-white-default);
  }

  .favorite {
    path {
      fill: var(--color-invalid-input);
    }
  }
}

.favorite {
  path {
    fill: var(--color-invalid-input);
  }
}
