.character-img-container {
  width: 100%;

  .character-img {
    width: 100%;
    aspect-ratio: 8 / 11;
  }
}

.character-feature-block {
  @include flex(space-between, center);
  flex-wrap: wrap;
  width: 100%;
  font-size: 1.6rem;
  color: $color-gray-middle;
}

.details {
  @include flex(center, flex-start, column, 10px);
  @include font(2rem, 700, 1, 0.05rem);

  @include mobile {
    min-width: 300px;
    font-size: 1.6rem;
  }
  position: absolute;
  right: 0;
  width: 40%;
  min-width: 400px;
  padding: 10px;
  background: $color-gray-dark;
  overflow: scroll;
  backdrop-filter: blur(12.5px);
  border-radius: 5px;
  border: 1px solid $color-gray-dark;
  color: $color-white-default;
}
