.pagination-nav {
  @include flex(center);
  margin-top: auto;
  width: 100%;
  position: relative;
}

.pagination {
  @include flex(flex-start, center, null, 5px);
  @include font(1.6rem, 400, 1, 0.05rem);
  font-family: Forum, serif;
  color: $color-white-default;
  padding: 20px;
}
