.container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  padding: 0;

  @extend %container;

  @include big-mobile {
    width: 100vw;
  }
}

.leftContainer {
  @include flex(flex-start, center, column);

  @include big-mobile {
    width: 100%;
  }
}
