.form-container {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  position: relative;
  width: 450px;
  padding: 15px;
  font-size: 1.6rem;
  text-align: center;
  background-color: $color-bg-dark-transparent;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  margin-bottom: 20px;

  @media screen and (max-width: 480px) {
    width: unset;
    max-width: 450px;
  }

  &:first-of-type {
    box-shadow: 1px 1px 5px 1px $color-primary-bright;

    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 20px;
      height: 20px;
      background: $color-white-default;
      background-size: contain;
      top: 10px;
      right: 0;
    }

    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 40px;
      height: 40px;
      background: no-repeat center url('../../assets/new.svg');
      background-size: contain;
      top: 0;
      right: -10px;
    }
  }
}

.heading {
  color: $color-primary-bright;
  text-align: left;
}

.saved-form {
  width: 76%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: flex-start;

  @media screen and (max-width: 480px) {
    width: 100%;
  }
}

.title {
  @include font(1.8rem, 700, 1, 0.05rem);
}

.field {
  width: 100%;
  padding: 10px 20px;
  text-align: left;
  border-radius: 20px;
  background-color: rgb(255 255 255 / 10%);
}

.input-container {
  position: relative;
}

.term {
  @include font(1.6rem, 500, 1, 0.05rem);
  cursor: pointer;
  padding-left: 30px;

  &::before {
    @extend %transition;
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 15px;
    height: 15px;
    border: 1px solid $color-white-default;
  }

  &::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    display: block;
    width: 15px;
    height: 15px;
    background-image: url('../../assets/checked.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity 0.3s;
  }
}

.form-img {
  position: absolute;
  aspect-ratio: 3 / 4;
  width: 100px;
  right: 0;
  border-radius: 20px;

  @media screen and (max-width: 480px) {
    position: static;
    align-self: center;
  }
}
