.character-item {
  width: 100%;
  max-width: 350px;
  padding: 15px;
  backdrop-filter: blur(12.5px);
  border-radius: 5px;
  border: 1px solid $color-gray-dark;
  color: $color-white-default;

  @include flex(center, flex-start, column, 10px);
  @include font(2rem, 700, 1, 0.05rem);
}

.small {
  font-size: 1.7rem;
  @include laptop {
    font-size: 1.5rem;
  }

  @include big-mobile {
    font-size: 2rem;
  }
}

.character-img-container {
  width: 50%;
  align-self: center;

  .character-img {
    width: 100%;
    height: auto;
  }
}

.character-feature-block {
  width: 100%;
  font-size: 0.8em;
  color: $color-gray-middle;
  @include flex(space-between, center);
}

.gender-icon {
  padding: 5px;
  border-radius: 20px;
  border: 1px solid $color-gray-dark;
  background-color: $color-input-bg;
}

.male,
.female {
  display: block;
  width: 20px;
  height: 20px;
}

.male {
  background: no-repeat center url('../../assets/icons/male.svg');
  background-size: cover;
}

.female {
  background: no-repeat center url('../../assets/icons/female.svg');
  background-size: cover;
}

[class*='light'] {
  .character-item {
    color: $color-bg-dark;
  }

  .character-feature-block {
    color: #545454;
  }
}
