.favorites {
  width: 200px;
  position: fixed;
  z-index: 100;
  background: var(--color-favorites-bg);
  top: 60px;
  left: 0;
  color: var(--color-bg-dark);
  border-radius: 5px;
}

.container {
  padding: 10px;
  backdrop-filter: blur(12.5px);
  @include flex(center, flex-start, column, 15px);
}

.favorites-block {
  width: 100%;
  @include flex(space-between, center, row, 30px);
}

.favorites-button {
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  background-color: var(--color-primary-bright);
  @extend %transition;
  @include font(1.6rem, 400, 1, 0.05rem);

  @include hover {
    background-color: var(--color-gray-dark);
    color: var(--color-black-default);
  }
}

.remove-icon {
  display: block;
  width: 25px;
  height: 25px;
  background: no-repeat center url('../../assets/remove-all.svg');
  background-size: contain;
  border-radius: 5px;
}

.download-icon {
  display: block;
  width: 25px;
  height: 25px;
  background: no-repeat center url('../../assets/download.svg');
  background-size: contain;
  border-radius: 5px;
}

.favorites-title {
  margin-right: auto;
  @include font(2.4rem, 700, 1, 0.05rem);

  .favorites-name {
    display: block;
  }
}

.favorites-name {
  @include font(1.4rem, 700, 1, 0.05rem);
}

.favorites-list {
  width: 100%;
  max-height: 210px;
  overflow-y: auto;
  @include flex(flex-start, center, column, 10px);
}

.favorites-list::-webkit-scrollbar {
  width: 10px;
  border: 1px solid var(--color-bg-dark);
  border-radius: 50px;
}

.favorites-list::-webkit-scrollbar-track {
  background-color: transparent;
}

.favorites-list::-webkit-scrollbar-thumb {
  cursor: pointer;
  height: 10px;
  background-color: var(--color-bg-dark);
  border-radius: 50px;
}
