.character-feature-block {
  @include flex(space-between, center);
  flex-wrap: wrap;
  width: 100%;
  font-size: 1.6rem;
  color: $color-gray-middle;
}

.starships {
  width: 100%;
}

.starships-list {
  @include flex(flex-start, center, column, 10px);
}

.block-title {
  text-align: center;
  margin: 10px;
  color: $color-primary-bright;
  width: 100%;
}

.starshipItem {
  @include flex(flex-start, center, row, 10px);
  width: 100%;
}

.feature-title,
.empty {
  color: $color-gray-light;
  font-size: 0.8em;
}

.starship-img-container {
  .starship-img {
    display: block;
    width: 20px;
    height: 20px;
    background: center no-repeat url('../../assets/starship.svg');
    background-size: contain;
  }
}
