.add-to-favorite-button {
  @extend %transition;

  @include hover {
    background-color: $color-primary-bright;
  }

  @include flex(center, center);
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid $color-gray-dark;
  background-color: $color-favorite-button;
  border-radius: 5px;
  position: absolute;
  top: 15px;
  right: 25px;
}

[class*='favorites'] {
  .add-to-favorite-button {
    top: 25px;
    right: 25px;
    width: 25px;
    height: 25px;
  }
}

[class*='details'] {
  .add-to-favorite-button {
    width: 35px;
    height: 35px;
    top: 10px;
    right: 10px;
  }
}

@keyframes fly-up {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-100px);
    opacity: 0;
  }
}

.heart-animation {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  animation: fly-up 0.5s ease-out forwards;
}

.heart {
  path {
    fill: $color-white-default;
  }

  .favorite {
    path {
      fill: $color-invalid-input;
    }
  }
}

.favorite {
  path {
    fill: $color-invalid-input;
  }
}

[class*='light'] {
  .add-to-favorite-button {
    background-color: $color-gray-middle;
  }

  .heart {
    path {
      fill: $color-bg-dark;
    }
  }
}
